## Session Context
{% if session_root_path %}- session_root_path: {{ session_root_path }}
{% endif %}{% if workflow_target_path %}- workflow_target_path: {{ workflow_target_path }}
{% endif %}{% if docs_path %}- docs_path: {{ docs_path }}
{% endif %}
